.room {
  position: relative;
  input {
    width: 350px;
    padding: 10px 15px 10px 40px;
    border-radius: 30px;
    font-size: 19px;
    border: 1px rgb(163, 135, 135) solid;
    &:focus {
    //   width: px;
      border: 2px rgb(50, 48, 48) solid;
    }
  }
  .searchSvg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 10px;
    opacity: 0.3;
  }
  .crossSvg {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7px;
    right: 7px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.9;
    }
  }
}
